@media (min-width: 65em) {
        .home-grid{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    
        .container-3{
            grid-column: 3/4;
        }
}