
h1, h2 {
    margin: .25rem 1rem .25rem 1rem;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
} 

#content {
    max-width: 600px;
    margin: auto;
}

footer {
    box-shadow: 1px 1px 4px 1px #888;
    border-radius: 5px;
    background-color: #3377aa;
    text-align: center;
}

.home-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.banner-box{
    text-align: center;
    box-shadow: 1px 1px 4px 1px #888;
    border-radius: 5px;
    background-color: #3377aa;
    padding: 1rem;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.footer-copy{
    color: #fcfdfd;
    padding: .5rem;
}


