
body {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

picture {
    margin: 10px;
}


img[data-src] {
    filter: blur(0.2em);
}
  
img {
    filter: blur(0em);
    transition: filter 2s;
  }