/* codepen css */
header {
	background-color: #628395;
	padding: 5px 0;
  /* display: grid; */
  /* grid-template-columns: 1.25fr 2fr .5fr; */
	display: flex;
  flex-flow: row;
  align-items: center;
	justify-content: center;
	/* max-width: 900px; */
	margin: 0 auto;
	border-bottom: 1px solid #bbb;
}

.logo {
	/* display: flex; */
	align-items: center;
  margin: 0;
  width: 120px;
	/* margin-left: 1rem; */
}

.logo img {
	width: 80px;
	height: auto;
  /* grid-column: 1/2; */
}

.headings {
  /* grid-column: 2/3; */
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
}

.headings h1 {
	font-size: 1.5rem;
}

h1 {
    margin: auto;
    font-size: 2rem;
    padding: 10px;
    text-align: center;
    color: #96897B;
}

.m {
	letter-spacing: 1pt;
	color: black;
	font-weight: 700;
	font-size: 0.8rem;
  text-align: center;
}

.social {
	margin-right: 1.5rem;
  display: flex;
  flex-direction: row;
  /* grid-column: 4/5; */
}

.social img {
	width: 75px;
	height: auto;
  padding: 10px;
  margin: 1rem;
}


/* Nav */
nav {
    /* grid-column: 3/4; */
	  margin: 0 0 0 1rem;
    background-color: #628395;
    width: 100%;
    /* box-shadow: 1px 1px 1px 1px #888; */
    /* border-radius: 5px; */

}

nav ul {
	  list-style-type: none;
	  overflow: hidden;
    padding-left: 0;
    margin: 0;
}

nav ul li a {
	display: block;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	/* font-size: 1.25rem; */
	/* transition: 0.5s; */
  color: black;
}

a:hover {
	background-color: #CF995F;
  color: black;
}


/* Previous CSS */
body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    font-size: 16px;
}

#content {
    /* max-width: 960px; */
    margin: auto;
}


h2, p {
    padding-left: 2rem;
    padding-right: 2rem;
    color: black;
}

img {
    max-width: 100%;
    height: auto;
} 

main, footer {
	margin: 0 auto;
}

footer {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

footer {
    box-shadow: 0px 1px 4px 1px #888;
    border-radius: 0 0 5px 5px;
    background-color: #628395;
    text-align: center;
}

.footer-copy{
    border-top: 5px solid black;
    color: black;
    padding: .5rem;
}

/* main grid */
.home-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
    grid-auto-rows: minmax(300px, auto);
    padding: 1rem;
    background-color: #DFD5A5;
  }

  .event {
    /* grid-column: 1 / 3; */
    grid-row: 2;
    background-color: beige;
    border: 2px solid #c6c6c6;
  }

  .hero {
    /* grid-column: 1 / 4; */
    grid-row: 1;
    background-color: beige;
    border: 2px solid #c6c6c6;
  }
  
  .spotlight {
    /* grid-column: 1/4; */
    grid-row: 5;
    background-color: beige;
    border: 2px solid #c6c6c6;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1.5rem;
    grid-auto-rows: minmax(300px, auto);
  }

  .spotlight section {
    border: 2px solid #c6c6c6;
  }

  .spot-3 {
      display: none;
  }
  
  .weather {
    /* grid-column: 3/4; */
    grid-row: 3;
    background-color: beige;
    border: 2px solid #c6c6c6;
  }
  .join {
    /* grid-column: 1/4;
    grid-row: 4; */
    display: none;
    background-color: beige;
    border: 2px solid #c6c6c6;
  }
  .news {
    grid-row: 4;
    background-color: beige;
    border: 2px solid #c6c6c6;
  }








