header {
	background-color: #628395;
	padding: 5px 0;
  display: grid;
  grid-template-columns: 1fr;
	margin: 0 auto;
	border-bottom: 1px solid #bbb;
  border-radius: 5px 5px 0 0;
}

#banner-popup {
  text-align: center;
  font-size: .75rem;
  border-bottom: 1px solid #bbb;
}

.banner {
	display: flex;
  flex-flow: row;
  align-items: center;
	justify-content: center;
}

.logo {
	align-items: center;
  margin: 0;
  width: 100px;
}

.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
	font-size: 1.5rem;
  margin: 0;
}

h1 {
    margin: auto;
    font-size: 2rem;
    padding: 10px;
    text-align: center;
    color: black;
}

.m {
	letter-spacing: 1pt;
	color: black;
	font-weight: 700;
	font-size: 0.8rem;
  text-align: center;
}

.social {
  display: none;
}

/* Nav */
nav button {
  margin: .2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: black;
}

nav {
    background-color: #628395;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

nav ul li a {
	display: block;
  padding: .8rem 2vw;
	text-decoration: none;
	font-size: 1.25rem;
  color: black;
}

nav ul li.active a {
  background-color: rgba(0,0,0,0.2);
  color: #fff;
}

a:hover {
	background-color: #CF995F;
  color: black;
}

nav ul {
  display: none;
}

nav ul.open {
  display: block;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}

#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}

#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

.banner-date {
  text-align: center;
  padding: .5rem;
}


body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    font-size: 16px;
}

h2, p {
    padding-left: 2rem;
    padding-right: 2rem;
    color: black;
}

img {
    max-width: 100%;
    height: auto;
} 

footer {
	align-items: center;
	justify-content: center;
  box-shadow: 0px 1px 4px 1px #888;
  border-radius: 0 0 5px 5px;
  background-color: #628395;
  text-align: center;
}

.footer-logo img{
  max-width: 200px;
}

.contact-info a {
  color: black;
}

.footer-copy{
    border-top: 5px solid black;
    color: black;
    padding: .5rem;
}

/* main grid */
.home-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
    grid-auto-rows: minmax(300px, auto);
    padding: 1rem;
    background-color: #DFD5A5;
  }

  .event {
    grid-row: 2;
    background-color: beige;
    border: 2px solid #c6c6c6;
  }

  .hero {
    grid-row: 1;
    background-color: beige;
    border: 2px solid #c6c6c6;
    position: relative;
  }
  
  .spotlight {
    grid-row: 5;
    background-color: #628395;
    border: 2px solid #c6c6c6;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1.5rem;
    grid-auto-rows: minmax(300px, auto);
  }

  .spotlight section {
    border: 2px solid #c6c6c6;
  }

  .spot-3 {
      display: none;
  }
  
  .weather {
    grid-row: 3;
    background-color: beige;
    border: 2px solid #c6c6c6;
  }

  .join {
    display: none;
    background-color: beige;
    border: 2px solid #c6c6c6;
  }

  .news {
    grid-row: 4;
    background-color: beige;
    border: 2px solid #c6c6c6;
  }


/* content */
/* hero */
.hero {
  position: relative;
}

.hero img {
  height: 100%;
}

.hero h2 {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 3rem;
}

.join-cham {
  position: absolute;
  bottom: 60px;
  right: 50px;
  border: 2px solid #c6c6c6;
	padding: 1rem;
	box-shadow: 0 0 5px #333;
  border-radius: 5px;
	opacity: 0.9;
  background-color: #628395;
}

.join-cham:hover, .join-us:hover {
	background-color: #CF995F;
  color: black;
}

/* spotlight 1 */
.spot-1, .spot-2, .spot-3{
  text-align: center;
}

.spot-contact {
  border-top: 2px solid black;
  padding: .5rem;
  margin: 0;
}

.join{
  text-align: center;
  position: relative;
  background-color: #628395;
}

.join-us {
  position: absolute;
  top: 5%;
  left: 2.5%;
  display: block;
  width: 95%;
  border: 2px solid #c6c6c6;
	padding: 2rem;
	box-shadow: 0 0 5px #333;
  border-radius: 5px;
	opacity: 0.9;
  background-color: rgb(255, 187, 0);
  font-size: 3rem;
}

.join p {
  position: absolute;
  top: 55%;
}

