/* codepen css */
header {
	background-color: #fff;
	padding: 5px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 900px;
	margin: 0 auto;
	border-bottom: 1px solid #bbb;
}

.logo {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

.logo img {
	width: 80px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
}

.headings h1 {
	font-size: 1.5rem;
}

.m {
	letter-spacing: 1pt;
	color: black;
	font-weight: 700;
	font-size: 0.8rem;
}

.social {
	margin-right: 1.5rem;
}

.social svg {
	width: 25px;
	height: auto;
}


/* main grid */
.home-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
    grid-auto-rows: minmax(300px, auto);
  }
  .event {
    /* grid-column: 1 / 3; */
    grid-row: 2;
    background-color: beige;
    border: 2px solid #c6c6c6;
  }
  .hero {
    /* grid-column: 1 / 4; */
    grid-row: 1;
    background-color: beige;
    border: 2px solid #c6c6c6;
  }
  .spotlight {
    /* grid-column: 1/4; */
    grid-row: 5;
    background-color: beige;
    border: 2px solid #c6c6c6;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1.5rem;
    grid-auto-rows: minmax(300px, auto);
  }

  .spotlight section {
    border: 2px solid #c6c6c6;
  }

  .spot-3 {
      display: none;
  }
  
  .weather {
    /* grid-column: 3/4; */
    grid-row: 3;
    background-color: beige;
    border: 2px solid #c6c6c6;
  }
  .join {
    /* grid-column: 1/4;
    grid-row: 4; */
    display: none;
    background-color: beige;
    border: 2px solid #c6c6c6;
  }
  .news {
    grid-row: 4;
    background-color: beige;
    border: 2px solid #c6c6c6;
  }



/* Previous CSS */

h1 {
    margin: auto;
    font-size: 2rem;
    padding: 10px;
    text-align: center;
    color: #96897B;
}

body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    font-size: 16px;
}

#content {
    /* max-width: 960px; */
    margin: auto;
}

.home-grid{
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    background-color: #DFD5A5;
}

h2, p {
    padding-left: 2rem;
    padding-right: 2rem;
    color: black;
}


img {
    max-width: 100%;
    height: auto;
} 

footer {
    box-shadow: 0px 1px 4px 1px #888;
    border-radius: 0 0 5px 5px;
    background-color: #628395;
    text-align: center;
}

.footer-copy{
    color: black;
    padding: .5rem;
}

/* phone or baseline views **************************/
header,
footer {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

header, main, footer {
	margin: 0 auto;
}

nav {
	margin: 0;
    background-color: #628395;
    width: 100%;
    box-shadow: 1px 1px 1px 1px #888;
    border-radius: 5px;
}

nav ul {
	list-style-type: none;
	overflow: hidden;
    padding-left: 0;
    margin: 0;
}

nav ul li a {
	display: block;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	font-size: 1.25rem;
	transition: 0.5s;
    color: black;
}

a:hover {
	background-color: #CF995F;
    color: black;
}

table, td, th {
    border: 1px solid;
    margin: 0;
    text-align: center;
  }
  
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
 }

#navigation, #footer{
    color: black;
    background-color: #628395;
    padding: 1rem;
	text-align: center;
    margin: 0;
}

#navigation-hover {
    padding: 1rem;
	text-align: center;
	font-size: 1.25rem;
    background-color: #CF995F;
    color: black;
}

#h2-content, #paragraph{
    padding: 1rem;
	text-align: center;
    color: black;
    background-color: #DFD5A5;
    margin: 0;
}

#topo-nav {
    font-size: 1.25rem;
    padding: 1rem;
}

.personas ol {
    padding-left: 4rem;
}

.personas p, h3 {
    padding-left: 3rem;
}