@media (min-width: 38em) {
	.m {
		letter-spacing: 1.5pt;
		font-size: 0.9rem;
	}

#banner-popup {
  font-size: 1rem;
}

.logo {
  width: 150px;
}

.social {
  display: flex;
  flex-direction: row;
}

.social img {
  width: 55px;
  height: auto;
  margin: .5rem;
  padding-top: .75rem;
}

/* contact us page */
.contactcontent {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* hover effect Images Discover Page*/
/* .discontent picture:hover {box-shadow: 0 0 50px #333;} */


/* main grid */
	.home-grid {
        grid-template-columns: 1fr 1fr 1fr;
      }

      .event {
        grid-column: 1/3;
        grid-row: 5/6;
      }

      .hero {
        grid-column: 1/4;
      }

      .spotlight {
        grid-column: 1/4;
        grid-row: 3/4;
      }

      .weather {
        grid-column: 3/4;
        grid-row: 5/6;
      }

      .join {
    		display: block;
        grid-column: 1/4;
        grid-row: 4/5;
        
      }

      .news {
        grid-column: 1/4;
        grid-row: 2/3;
      }

      .hero h2 {
        font-size: 3rem;
      }



}