@media (min-width: 38em) {
	.m {
		letter-spacing: 1.5pt;
		font-size: 0.9rem;
	}

#banner-popup {
  font-size: 1rem;
}

.logo {
  width: 150px;
}

.social {
  display: flex;
  flex-direction: row;
}

.social img {
  width: 55px;
  height: auto;
  margin: .5rem;
  padding-top: .75rem;
}

/* hover effect Images Discover Page*/
.content picture:hover {box-shadow: 0 0 50px #333;}


/* footer  */
footer {
  display: grid;
  grid-template-columns: .5fr 1fr 1fr;
}

.footer-logo {
  grid-column: 1/2;
  justify-content: right;
}

.address {
  grid-column: 2/3;
  display: flex;
	flex-flow: column;
}

.contact-info {
  grid-column: 3/4;
  display: flex;
	flex-flow: column;
}

.footer-copy{
    grid-column: 1/4;
}




/* main grid */
	.home-grid {
        grid-template-columns: 1fr 1fr 1fr;
      }

      .event {
        grid-column: 1 / 3;
        grid-row: 5;
      }

      .hero {
        grid-column: 1 / 4;
      }

      .spotlight {
        grid-column: 1/4;
        grid-row: 3;
        grid-template-columns: 1fr 1fr;
      }

	  .spot-1 {
		  grid-column: 1/2;
	  }

	  .spot-2 {
		  grid-column: 2/3;
	  }

      .weather {
        grid-column: 3/4;
        grid-row: 5;
      }

      .join {
    		display: block;
        grid-column: 1/4;
        grid-row: 4;
      }

      .news {
        grid-column: 1/4;
        grid-row: 2;
      }

      .hero h2 {
        font-size: 3rem;
      }



}