@media (min-width: 65em) {
  nav button {
    display: none;
  }

  nav ul#primaryNav {
    display: flex;
    justify-content: center;
  }

  header {
    grid-template-columns: 0.5fr 1.5fr 3fr 1fr;
  }

  .availButton {
    display: block;
  }

  footer {
    grid-template-columns: repeat(5, 1fr);
  }

  .map {
    display: block;
  }

  .social img { width: 50px;}

  
}
